.navbar-brand {
  width: 175px;
  height: 42px;
  background-image: url('../../../assets/images/logo.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
}

.nav-link {
  display: inline-block;
  &.hasIcon {
    display: flex;
    align-items: center;
    span {
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-right: 6px;
    }
  }
}