.sectionBanner{
  height: 336px;
  background-image: url('../images/bg_home.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  margin-top: 72px;
  @include media-breakpoint-up(md) {
    height: 680px;
    margin-top: 90px;
  }
  .banner {
    padding: 2rem 1rem;
    border: 1px solid #fff;
    @include media-breakpoint-up(md) {
      width: 650px;
      padding: 3rem 1rem;
    }
    .square {
      width: 10px;
      height: 10px;
      background-color: #fff;
    }
  }
  h1 {
    font-size: 1.5rem;
    line-height: 1.458;
    @include media-breakpoint-between(md, xl) {
      font-size: 2.5rem;
    }
    @include media-breakpoint-up(xl) {
      font-size: 3rem;
    }
  }
  p{
    font-size: 0.875rem;
    line-height: 1.429;
    @include media-breakpoint-up(md) {
      font-size: 1.125rem;
      line-height: 1.444;
    }
  }
}