.sectionBanner{
  height: 336px;
  background-image: url('../images/bg_home_mobile.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  margin-top: 72px;
  @include media-breakpoint-up(md) {
    height: 680px;
    margin-top: 90px;
    background-image: url('../images/bg_home.jpg');
  }
  .banner {
    padding: 2rem 1rem;
    border: 1px solid #fff;
    @include media-breakpoint-up(md) {
      max-width: 650px;
      padding: 3rem 1rem;
    }
    .square {
      width: 10px;
      height: 10px;
      background-color: #fff;
    }
  }
  h1 {
    font-size: 1.5rem;
    line-height: 1.458;
    @include media-breakpoint-between(md, xl) {
      font-size: 2.5rem;
    }
    @include media-breakpoint-up(xl) {
      font-size: 3rem;
    }
  }
  p{
    font-size: 0.875rem;
    line-height: 1.429;
    @include media-breakpoint-up(md) {
      font-size: 1.125rem;
      line-height: 1.444;
    }
  }
}

.section-handByHand {
  h2 {
    line-height: 1.429;
    @include media-breakpoint-up(lg) {
      &::before {
        left: 25px;
      }
    }
  }
  .card {
    background-color: transparent;
    border: 1px solid transparent;
    transition: all .3s ease 0s;
    &:hover {
      background-color: $gray-200;
      border: 1px solid $primary;
      span {
        @include text-gradient-y
      }
    }
    span {
      color: $white;
      font-size: 50px;
    }
    p {
      color: $white;
      line-height: 1.444;
    }
  }
}

.section-courseStep {
  h3 {
    line-height: 1.458;
  }
  h4 {
    line-height: 1.444;
  }
  .card {
    background-color: transparent;
    border: 1px solid #ffffff;
    span {
      line-height: 1.167;
      left: 40px;
      top: -32px;
      background-color: $gray-500;
      padding: .25rem .5rem;
      z-index: 50;
    }
  }
}

.program-language {
  .swiper-slide {
    line-height: 1.444;
  }
}