<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet"href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body>
    <nav class="navbar navbar-expand-md bg-gray-100 py-5 position-fixed top-0 w-100">
      <div class="container">
        <a class="navbar-brand me-0 d-block" href="./index.html"></a>
        <button class="navbar-toggler p-0 border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse mt-4 mt-md-0" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-lg-0 align-items-center">
            <li class="nav-item me-md-6">
              <a class="nav-link" href="./index.html">首頁</a>
            </li>
            <li class="nav-item me-md-6">
              <a class="nav-link" href="./course.html">課程介紹</a>
            </li>
            <li class="nav-item">
              <a class="nav-link hasIcon" href="#"><span class="material-symbols-outlined"> account_circle </span>登入</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="inside-content bg-gray-500">
      <div class="container">
        <!-- <div class="swiper course-tab">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <button type="button" class="btn btn-outline-light fs-7 text-center py-2 px-6 rounded-1 active">所有課程</button>
            </div>
            <div class="swiper-slide">
              <button type="button" class="btn btn-outline-light fs-7 text-center py-2 px-6 rounded-1">行動應用開發</button>
            </div>
            <div class="swiper-slide">
              <button type="button" class="btn btn-outline-light fs-7 text-center py-2 px-6 rounded-1">資料庫/資料科學</button>
            </div>
            <div class="swiper-slide">
              <button type="button" class="btn btn-outline-light fs-7 text-center py-2 px-6 rounded-1">前端語言</button>
            </div>
            <div class="swiper-slide">
              <button type="button" class="btn btn-outline-light fs-7 text-center py-2 px-6 rounded-1">後端語言</button>
            </div>
            <div class="swiper-slide">
              <button type="button" class="btn btn-outline-light fs-7 text-center py-2 px-6 rounded-1">作業系統與伺服器</button>
            </div>
          </div>
        </div> -->
        <div class="row"></div>
      </div>
      <%- contents %>
    </div>

    <footer class="footer bg-gray-300">
      <div class="container text-center p-4 p-md-5">
        <p class="font--azeret text-gray-400 mb-0">Coding Home © 2022 All Rights Reserved</p>
      </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>