.font--azeret {
  font-family: 'Azeret Mono', monospace;
  // font-family: 'Noto Sans TC', sans-serif;  
}

.text--border{
  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 50px;
    height: 3px;
    background-color: $primary;
    left: 50%;
    transform: translateX(-50%);
    bottom: -12px;
  }
  &.text--border--left {
    &::before {
      left: 0;
      transform: translateX(0);
    }
  }
}

h2 {
  line-height: 1.429;
}

section {
  padding: 2.5rem 0;
  @include media-breakpoint-up(lg) {
    padding: 5rem 0;
  }
}

.inside-content {
  background-color: #1C1C1C;
  margin-top: 72px;
  min-height: calc(100vh - 72px);
  @include media-breakpoint-up(md) {
    margin-top: 90px;
    min-height: calc(100vh - 90px);
  }
}