/* Horizontal gradient, from left to right */
@mixin gradient-x($start-color: $primary, $end-color: $secondary, $start-percent: null, $end-percent: null) {
  background-image: linear-gradient(90deg, $start-color $start-percent, $end-color $end-percent);
}
.gradient-x{
  @include gradient-x;
}

/* Vertical gradient, from top to bottom */
@mixin gradient-y($start-color: $secondary, $end-color: $primary, $start-percent: null, $end-percent: null) {
  background-image: linear-gradient(180deg, $start-color $start-percent, $end-color $end-percent);
}

.gradient-y{
  @include gradient-y;
}

.text-gradient-y{
  @include gradient-y;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@mixin text-gradient-y {
  @include gradient-y;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@mixin background-center{
  background-position: 50% 50%;
  background-repeat: no-repeat;
}